@import '../styles/themes/current';

$sidebar-width: 20%;

.app-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  min-width: 300px;
  max-width: 400px;
  background: #fff;
  border-right: 1px solid $accent-color;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;

  .sidebar-top {
    padding: 30px 30px 38px;
    border-bottom: 1px solid $background-color;

    .logout-button {
      float: right;
    }
  }

  .sidebar-bottom {
    padding: 80px 0 125px;
    overflow-y: auto;
  }

  .user-info {
    .user-name {
      font-size: 36px;
      font-weight: bold;
      line-height: 42px;
    }

    .user-group {
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;
    }
  }

  .user-progress {
    margin-top: 28px;

    .progress-label {
      display: block;
      line-height: 20px;
      font-size: 16px;
      color: #666;
      margin-bottom: 8px;
    }

    .progress {
      display: block;
      width: 100%;
      height: 15px;
      appearance: none;
      border: 1px solid #bdbdbd;
      background-color: #fff;
      color: $success-color;
    }

    .progress::-webkit-progress-bar {
      background-color: #fff;
    }

    .progress::-webkit-progress-value {
      background-color: $success-color;
    }

    .progress::-moz-progress-bar {
      background-color: $success-color;
    }
  }

  .nav-menu {
    font-size: 28px;
    width: 100%;
    text-align: right;

    .menu-item {
      color: $font-color;
      display: block;
      width: 100%;
      height: 70px;
      line-height: 70px;
      padding: 0 30px;
      text-decoration: none;

      &.active {
        background: rgba(0, 0, 0, .05);
      }

      &:hover {
        background: rgba(0, 0, 0, .075);
      }
    }
  }
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  left: $sidebar-width;
  overflow-y: scroll;

  .content-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    min-width: 1016px;
    max-width: 1016px;
    padding: 72px 100px 125px;
    border-right: 1px solid #eee;
  }
}

.view-title {
  font-size: 38px;
  margin-bottom: 34px;
  max-width: 600px;
}

.icon-link {
  margin-left: 10px;
  line-height: 42px;
  display: inline-block;
  height: 42px;

 .fa {
    color: $font-color;
    font-size: 36px;
    line-height: 42px;
  }
}
