@import '../../../styles/themes/current';

.task-list {
  display: block;
  width: 100%;
  border: 1px solid $accent-color;
  border-radius: 3px;
  overflow: hidden;
}

.task-item {
  display: block;
  width: 100%;
  background: #fff;

  .task-header {
    height: 70px;
    line-height: 70px;
    padding: 0 15px 0 30px;

    .task-title {
      display: inline-block;
      font-size: 22px;
      font-weight: normal;
    }

    .task-header-actions {
      float: right;

      .action + .action {
        margin-left: 10px;
      }
    }
  }
}

.task-item + .task-item {
  border-top: 1px solid $accent-color;
}

.task-difficulty {
  float: right;
  line-height: 42px;
}

.task-description {
  font-size: 18px;
  line-height: 32px;

  .paragraph + .paragraph {
    margin-top: 20px;
  }
}
